@use 'variaveis';



.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid-item {
    position: relative;
    &:hover .overlay-img{
        opacity: 1;
    }

    img {
        width: 100%;
        height: auto;
    }
}


.overlay-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease;
}


